/* *{
    border: 1px solid black;
    box-sizing: border-box;
} */

body{
  margin: 0;
}

header{
  background-color: green;

  position: sticky;
  z-index: 999;
  top: 0;
  min-height: 15vh;

  padding-block: 1vh;
}

main{
  height: 90vh;
  padding-block: 2vh;
  gap: 2vh;
}

input, select, button{
  height: 5vh;
  box-sizing: border-box;
}

.logo{
  display: flex;
  flex-direction: column;
}

.logo > .image{
  display: flex;
  justify-content: center;
}

.logo > .title{
  height: 5vh;

  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logo img{
  height: 10vh;
}

.characterSelector{
  display: flex;
}

.characterSelector > *{
  height: 40vh;
}

.arrow{
  width: 50px;
}

.arrow:hover, .arrow:active{
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(25deg) brightness(150%) contrast(119%);    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(25deg) brightness(150%) contrast(119%);
}

.inverted{
  transform: rotate(180deg);
}

.characterInput > *{
  width: 50%;
  margin: auto;
}

.wrapper{
  /* padding: 2%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex{
  display: flex;
  gap: 1vh;
}

.flex-column{
  flex-direction: column;
}

.stat-bar{
  height: 20px;
}

.hover-green:hover{
  background-color: greenyellow;
  color: white;
  font-weight: bolder;
}